<div class="alert alert-primary " style="height:500px">
    <div class="row">
        <div class="col m-3 text-center">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div class="card btn btn-primary" style="width: 18rem;" (click)="redireccionar('registrar')">
                    <img src="../../../assets/reloj.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center text-dark">Registro servicio</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card btn btn-primary" style="width: 18rem;" (click)="redireccionar('calcular')">
                    <img src="../../../assets/calculadora.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center text-dark">Calculo nomina</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>