<div class="alert alert-primary" style="height:500px">
    <div class="container w-50 ">
        <h1 class="text-center mt-5">Nomina</h1>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label for="idTecnico">ID Tecnico</label>
                    <input type="text" class="form-control" id="idTecnico" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="nombreTecnico">Nombre tecnico</label>
                    <input type="text" class="form-control" id="nombreTecnico" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="semana">Semana</label>
                    <input type="text" class="form-control" id="semana" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <label for="horasTrabajadas">Horas trabajadas</label>
                    <input type="text" class="form-control" id="horasTrabajadas" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="horasNormales">Horas normales</label>
                    <input type="text" class="form-control" id="horasNormales" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="horasExtras">Horas<br>extras</label>
                    <input type="text" class="form-control" id="horasExtras" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="horasNocturnas">Horas nocturnas</label>
                    <input type="text" class="form-control" id="horasNocturnas" disabled>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label for="horasDominicales">Horas dominicales</label>
                    <input type="text" class="form-control" id="horasDominicales" disabled>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="form-group mb-3">
                    <label for="nomina">Nomina a pagar</label>
                    <input type="text" class="form-control" id="nomina" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
