<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-white bg-white ">
            <a class="navbar-brand">
                <img (click)="redireccionar('')" src="../assets/logo.jpg" width="110" height="100" class="d-inline-block align-top m-2 btn " alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <h1>Handyman</h1>
                    </li>
                </ul>       
            </div>
        </nav>
    </div>
    <div class="col d-flex justify-content-end h-25 mt-5">
        <button type="button" class="btn btn-primary" (click)="redireccionar('')">Dashboard</button>
    </div>
</div>
