<div class="alert alert-primary" style="height:500px">
    <div class="container w-50 ">
        <h1 class="mt-3 mb-5 text-center">Registro servicio</h1>
        <div class="row ">
            <div class="col">
                <form [formGroup]="formulario">
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="idTecnico">ID Tecnico *</label>
                                <input formControlName="idTecnico" type="text" (blur)="blurCampoIdTecnico()" class="form-control" id="idTecnico"
                                    placeholder="Ingrese la identificacion del tecnico">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="nombreTecnico">Nombre tecnico</label>
                                <input type="text" formControlName="nombreTecnico" class="form-control" id="nombreTecnico" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="idServicio">ID Servicio *</label>
                                <input type="text" formControlName="idServicio" (blur)="blurCampoIdServicio()" class="form-control" id="idServicio"
                                    placeholder="Ingrese la identificacion del servicio">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="descripcion">Descripcion</label>
                                <input type="text" formControlName="descripcion" class="form-control" id="descripcion" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-left mt-2">
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="fechaInicio">Fecha inicio</label>
                                <input type="datetime-local" formControlName="fechaInicio" class="form-control" id="fechaInicio">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="fechaFin">Fecha fin</label>
                                <input type="datetime-local" formControlName="fechaFin" class="form-control" id="fechaFin">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="validarFecha" class="alert alert-danger" role="alert">
                            La fecha inicial debe de ser menor que la fecha final.
                        </div>
                        <button type="button" class="btn btn-primary" [disabled]="!formulario.valid || validarFecha" (click)="clickGuardar()">Guardar</button>
                        <div *ngIf="formularioCompleto" class="alert alert-success" role="alert">
                            Registro de tiempo finalizado correctamente.
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>